* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #130101;
}

html, body {
    max-width: 100%;
    overflow-x: hidden ;
    background-color: #130101;
}

.line {
    border-bottom: 1px solid rgba(211,211,211,.50);
}
.overflowtext {
    word-break: break-all;
}
header {
    border-bottom: 1px solid rgba(211,211,211,.50);
}

.align-item {
    padding-top: 7% ;
    padding-right:3%;
}
.footerbottom {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 15%; /* Height of the footer */
    padding-top: 1px;

}


hr {
  position: relative;
  top: 1px;
  border: none;
  height: 1px;

}
a {
  text-decoration: none;
  color: #fff;
}
html {
  font-family: "Open Sans", sans-serif;
}
/* Navbar Section */
#navbar {
  color: #fff;
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding: 0.75rem;
  height: 70px;
}
#navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
#navbar ul li a {
  padding-left: 0.8rem;
  padding-right: 1rem;
  padding-bottom: 0.7rem;
}

.link 
{

  text-decoration:none;
  position:relative;
}
.link::before 
{
  content:'';
  position:absolute;
  left:0;
  bottom:0;
  width:0px;
  height:3px;
  background:white;
  opacity:0;
  -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}

.link:hover:before
{
  opacity:1;
  width:100%;
}


/* Home Section */

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid grey;
  height: 100%;
  width: 100%;
}



#home img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
}
#home .name h2 {
  margin-bottom: 0.75rem;
}
#home .name p {
  opacity: 0.6;
  font-style: italic;
}


/* Contact */

#contact {
  color: #fff;
  padding: 1rem;
}

#contact .contact-form {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

#contact .contact-form ul {
  list-style-type: none;
  display: flex;
  margin-top: 1rem;
  align-self: center;
}
#contact .contact-form ul li a {
  padding: 1rem;
  font-size: 2rem;
}
#contact .contact-form ul li a:hover {
  opacity: 0.8;
}


/* about page */





#desc-margin{
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 7.25%;
}

#about-margin{
  margin-top:10%;
  margin-bottom: 10%; 
}


#about {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items:center;
  padding-top: 5rem;
  padding-left: 6rem;
  border-bottom: 1px solid grey;
  height: 100%;
  width: 100%;
}

#about div img {

  border-radius: 100%;

}
#about .name h2 {
  margin-bottom: 0.75rem;
}
#about .name p {
  opacity: 0.6;
  font-style: italic;
}


.imageAboutPage {
    width: 100%;
}




.comments-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.comment {
    margin-bottom: 20px;
}

.comment-header {
    font-weight: bold;
}

.comment-text {
    margin-top: 5px;
}

.table {
    margin-bottom: 0;
}

.marg1 {
    padding-left: 25%;
    padding-right: 25%;
    color: #fff;
}


.comment-pd {
    padding-left: 25%;
    padding-right: 25%;
}


.nameinput {
    max-width: 25%;
}
.messageinput {
    padding-left: 10%;
    padding-right: 10%;
}
















#section-form {
    max-width: 968px;
    margin: 3rem auto 0;
}

.comment-heading {
    background-color: #130101;
    margin-top: -5rem;
    padding: 1rem;
    border-radius: 5px 5px 0px 0px;
}

.comm-date {
    display: flex;
    width: 772.81px;
    justify-content: space-between;
}

.user-img {
    background: var(--main-color);
    padding: 1rem;
    font-size: 5rem;
    border-radius: 50%;
    margin: 2rem 0rem 0 2rem;
}

.user-comment-box {
    border-top: 1px solid rgba(253, 19, 2, 0.3);
    padding-left: 4rem;
    display: flex;
    margin-bottom: 2rem;
}

.user-comment {
    margin: 2rem 0 1rem 2rem;
    display: flex;
    flex-direction: column;
}

    .user-comment h4 {
        margin-bottom: .5rem;
        font-weight: 700;
    }

    .user-comment p {
        font-size: .8rem;
        font-weight: 300;
    }

.user-img-com {
    background: var(--main-color);
    font-size: 3rem;
    border-radius: 50%;
    margin: 2rem 0rem 0 2rem;
}

.comm-date {
    display: flex;
    width: 772.81px;
    justify-content: space-between;
}

.comment-heading {
    background-color: var(--main-color);
    margin-top: -5rem;
    padding: 1rem;
    border-radius: 5px 5px 0px 0px;
}

.overcomment {
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sec-pos {
    padding-bottom: 12.3%;
}

.sec-pos2 {
    padding-bottom: 12.9%;
}


.thanks{
    padding-top:5%;
    padding-bottom:29.9%
}