@{
    ViewData["Title"] = "About";
}


<section>
    <div class="container light-text pb-6">
        <div class="row">
            <div class="col-lg-4">
                <img src="~/images/arman.jpg" class="imageAboutPage mt-5" alt="" runat="server">
            </div>

            <div class="col-lg-8">

                <div class="row mt-5">
                    <div class="col-md-6">
                        <ul>
                            <li><strong>Name:</strong> Arman Yaycı</li>
                            <li><strong>Age:</strong> 23</li>
                            <li><strong>Hometown:</strong> Istanbul</li>

                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li><strong>Occupation:</strong> Software Engineering Student</li>
                            <li><strong>Interest:</strong> Backend Development</li>
                            <li><strong>Working Situation:</strong> OPEN TO WORK</li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-3">
                    <p>
                        Hello, my name is Arman. I am a second year student of software engineering department at Sakarya University. I am a technology savvy, learning hungry student. I'm on my way to becoming a back-end developer. Technologies that I have learned and continue to learn along the way:
                    </p>
                    <div class="col-md-6">
                        <ul>
                            <li><strong>ASP.NET, Entity Framework</strong> </li>
                            <li><strong>Spring Boot, Hibernate</strong> </li>
                            <li><strong>SQL/PostgreSQL</strong></li>
                        </ul>
                        <p>My abilities other than these:</p>
                        <ul>
                            <li><strong>C/C++</strong> </li>
                            <li><strong>C#</strong> </li>
                            <li><strong>Java</strong></li>
                            <li><strong>HTML/CSS</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


