@model IEnumerable<Comment>


<section id="section-form" class="light-text">





    <div class="overcomment">
                @foreach(var item in Model)
                {
                <div class="user-comment-box">
                    <div class="user-img-box">
                        <i class='user-img-com bx bxs-face' ></i>
                    </div>
                <div class="user-comment">
                    <div class="comm-date"><h4>@item.name</h4> <h6>@item.creation_date</h6> </div>
                    <p>@item.message</p>
                </div>
                </div>
                }
        </div>


    </section>