@{
    ViewData["Title"] = "Home Page";
}





<section id="home" class="light-text">
    <br /><br />

    <img src="~/images/arman.jpg"
         alt="Arman Yaycı" runat="server" />

    <div id="desc-margin" class="name text-center">
        <br />
        <h2 class="heading-big">Hi, I am Arman.</h2>
        <p>I am a second year student of software engineering department at Sakarya University. I am a technology savvy, learning hungry student. I'm on my way to becoming a back-end developer.</p>
    </div>
    <br />
</section>