@{
    ViewData["Title"] = "Contact";
}

<Section id="contact" class="line">
    <div class="contact-form sec-pos thanks" >
        
            <h4 class="text-center heading-medium">Thanks for your contact. I will back you soon</h4>

    </div>
</Section>